/* start universal and home page */
html, body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    max-width: 100%;
    font-family: 'Titillium Web', sans-serif;
}

a:hover {
    text-decoration: none;
}

nav div, nav button {
    margin: 8px;
}

.navbar-nav li {
    width: 100px;
}

.vertical-middle {
    position:relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

#logo img {
    width: 10em;
    height: auto;
    max-width: 400px;
    max-height: 150px;
    min-width: 100px;
}

.container {
    margin-top: 6em;
}

.page-content {
    margin: 30px 0;
    padding: 1em;
}

.page-content > h3 {
    font-weight: bold;
}

#footer {
    background-color: #292B2C;
    height: auto;
    color: white;
    padding: 0.5em 0 0.7em 0;
    width: 100%;
}

#footer .copyright span {
    font-size: 1.1em;
    position: relative;
    top: 1px;
}

#footer p {
    text-align: center;
}

#footer a {
    color: white;
    text-decoration: none;
}

#footer p a:hover {
    color: white;
    border-bottom: 1px dotted white;
    text-decoration: none;
}

#footer a:visited {
    color: white;
}


#footer > .row {
    width: calc(100% + 15px);
}

.copyright {
    text-align: center;
}

.icon-list {
    width: fit-content;
    margin: 0 auto;
}

.icon-list img {
    width: 2em;
    height: 2em;
    margin: 0 0.5em;
}

/* end universal elements */

/********************************************/

/* start home page */
/*#home-page {*/
    /*background-size: cover;*/
    /*background: url("../assets/images/misc/homepage-background2.jpg") no-repeat center center;*/
/*}*/

#home-page > .container > .page-content {
    display: flex;
    align-items: center;
}

.jumbotron {
    align-content: center;
    border-radius: 1em;
    /*opacity: 0.95;*/
    padding: 1.5em;
    margin-bottom: 0;
}

.jumbotron * {
    text-align: center;
}

.jumbotron h1 {
    margin-bottom: 30px;
}

#learn-more-btn {
    margin-top: 25px;
}

.page-content .sub-content {
    line-height: 1.5em;
}

.quote {
    font-size: 2em;
}

/* end home page */

/********************************************/

/* start content page */
#content-page-content-wrapper > div.row.category {
    padding-top: 1em;
    padding-bottom: 1em;
}

.category {
    min-height: 15em;
    height: fit-content;
    background-size: cover;
    margin: 2em;
    border-radius: 1em;
    display: flex !important;
    align-items: center !important;
}

.category .title h4 {
    color: white;
    text-align: center;
    padding-top: 1em;
}

.category .title hr {
    border: 1px solid white;
}

.category .lessons {
    margin: 0 auto;
    padding: 0;
}

.category .lessons ul li a {
    color: white;
    font-size: 1.2em;
}

.category .lessons ul li a:hover {
    color: white;
    border-bottom: 1px dotted white;
    text-decoration: none;
}

.lessons ul {
    margin: 0 auto 1em;
    padding-left: 2em;
    padding-right: 2em;
}

.lessons li{
    list-style: none;
}

#html {
    background: url('../assets/images/misc/background1.jpg');
}

#css {
    background: url('../assets/images/misc/background2.jpg');
}

#bootstrap {
    background: url('../assets/images/misc/background3.jpg');
}
/* end content page */

/********************************************/

/* start each topic page */
.page-content-navigator > a:first-child {
    margin-right: 1em;
}

.navigator-arrow {
    position: relative;
    top: -1px;
}

a.navigator-disabled {
    pointer-events: none;
    cursor: default;
    text-decoration:none;
    color:gray;
}

.card-text {
    text-align: center;
}

.image-view {
    width: 100%;
    height: auto;
}

.custom-list {
    margin-top: 1em;
}

.section-title {
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 2em;
}

.code-background {
    background-color: #a0a0a0;
    opacity: 0.5;
    width: 50%;
    display: block;
    margin: 0 auto;
}

.code-background span{
    text-align: center;
}

.code {
    font-family: "Segoe UI", sans-serif;
    color: grey;
    font-weight: bold;
    font-style: italic;
}

/* end each data page */

/********************************************/

/* start sitemap page */
#sitemap-container {
    min-height: 15em;
    width: 100%;
    overflow: hidden;
}

#sitemap-container ul li {
    list-style-type: none;
    position: relative;
    margin: 0.75em 0 0.75em 0;
}


#sitemap-container ul li a:not('.sublist') {
    font-family: FontAwesome, serif;
    content: "\f111";
    display: inline-block;
}

#sitemap-container ul .sublist {
    color: black;
    text-decoration: none;
}

#sitemap-container ul .sublist:before {
    font-family: FontAwesome, serif;
    content: "\f138";
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}

#sitemap-container ul .dropdown:before {
    font-family: FontAwesome, serif;
    content: "\f13a";
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}

.sublist + ul {
    display: none;
}

.tooltiptext {
    display: inline-block;
    visibility: hidden;
    width: fit-content;
    background-color: #292B2C;
    color: #fff;
    text-align: center;
    margin-top: 1px;
    padding: 0 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tooltiptext::after {
    content: " ";
    position: absolute;
    margin-top: -5px;
    border: 5px solid transparent;
    top: 50%;
}

.tooltiptext-right {
    margin-left: 1em;
}

.tooltiptext-right::after {
    right: 100%;
    border-color: transparent black transparent transparent;
}

.tooltiptext-left {
    margin-right: 1em;
    right: 97%;
}

.tooltiptext-left::after {
    left: 100%;
    border-color: transparent transparent transparent black;
}
/* end sitemap page */

/********************************************/

/* start about page */
.profile > div {
    margin-top: 5px;
    margin-bottom: 5px;
}

.avatar-icon {
    width: 70%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 50%;
    border: 5px #ECEEEF solid;
    padding: 5px;
}

/* end about page */

/********************************************/

/* start contact page */
.form-label {
    font-style: italic;
    font-weight: bold;
}

#form-submit-alert {
    margin-top: 2em;
    display: none;
}
/* end contact page */

/********************************************/
