/* start universal and home page */
html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    max-width: 100%;
}

nav {
    padding: 30px 15px 15px 15px;
    height: auto;
    min-height: 5em;
}

nav div, nav button {
    margin: 8px;
}

.navbar-nav li {
    width: 100px;
}

#logo img {
    width: 10em;
    height: auto;
    max-width: 400px;
    max-height: 150px;
    min-width: 100px;
}

.jumbotron {
    align-content: center;
}

.jumbotron * {
    text-align: center;
}

.jumbotron h1 {
    margin-bottom: 30px;
}

#learn-more-btn {
    margin-top: 25px;
}

.content {
    margin: 30px 0;
}

footer {
    background-color: #292B2C;
    height: auto;
    color: white;
    padding: 0.5em 0 0.7em 0;
}

footer > .row {
    width: calc(100% + 15px);
}

footer a {
    color: white;
    text-decoration: none;
}

footer p a:hover {
    color: white;
    border-bottom: 1px dotted white;
    text-decoration: none;
}

footer a:visited {
    color: white;
}

footer > div div {
    align-content: center;
    padding: 0.4em 0.25em;
    margin: 0;
}

footer > div div p {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    position:relative;
    top: calc(50% - 3px);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.copyright {
    text-align: center;
}

.icon-list {
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.icon-list img {
    width: 2em;
    height: 2em;
    margin: 0 0.5em;
}
/* end universal and home page */

/********************************************/

/* start sitemap page */
#sitemap-container {
    min-height: 15em;
    width: 100%;
    overflow: hidden;
}

#sitemap-container ul li {
    list-style-type: none;
    position: relative;
    margin: 0.75em 0 0.75em 0;
}


#sitemap-container ul li a:not('.sublist') {
    font-family: FontAwesome, serif;
    content: "\f111";
    display: inline-block;
}

#sitemap-container ul .sublist {
    color: black;
    text-decoration: none;
}

#sitemap-container ul .sublist:before {
    font-family: FontAwesome, serif;
    content: "\f138";
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}

#sitemap-container ul .dropdown:before {
    font-family: FontAwesome, serif;
    content: "\f13a";
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}

.sublist + ul {
    display: none;
}

.tooltiptext {
    display: inline-block;
    visibility: hidden;
    width: fit-content;
    background-color: #292B2C;
    color: #fff;
    text-align: center;
    margin-top: 1px;
    padding: 0 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tooltiptext::after {
    content: " ";
    position: absolute;
    margin-top: -5px;
    border: 5px solid transparent;
    top: 50%;
}

.tooltiptext-right {
    margin-left: 1em;
}

.tooltiptext-right::after {
    right: 100%;
    border-color: transparent black transparent transparent;
}

.tooltiptext-left {
    margin-right: 1em;
    right: 97%;
}

.tooltiptext-left::after {
    left: 100%;
    border-color: transparent transparent transparent black;
}

/* end sitemap page */

